{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_moove/footer

    Page footer.

    Example context (json):
    {
        "output": {
            "page_doc_link": "Help and documentation",
            "supportemail": "<a href=\"#\">Contact site support</a>",
            "has_popover_links": true,
            "services_support": "Services and support",
            "login_info": "You are logged in as cute kitten",
            "moodle_release": "90210"
        }
    }
}}

 {{! Banner for RC  }}
{{! <section id="feature">
<div id="topofscroll" class="main-inner">
    <div class="drawer-toggles d-flex">
    </div>

    <div id="page-content" class="d-print-block">
        <div id="region-main-box">
            <section id="region-main" aria-label="Content">

                <span class="notifications" id="user-notifications"></span>
                <span id="maincontent"></span>
                <div class="activity-header" data-for="page-activity-header"></div>
                <div role="main">
                    <div class="box py-3 generalbox center clearfix">
                        <div class="no-overflow">
                            <p dir="ltr" style="text-align: left;"></p>
                            <p><img src="http://localhost/moodle/COL-PAPA.PNG" alt=""
                                    width="232" height="300" role="presentation" style="font-size: 0.9375rem;"
                                    class="img-fluid atto_image_button_left">

                            </p>
                            <p style="text-align:justify;">It was the idea of <b> COLONEL ALEJANDRO JAVIER PAPA (MNSA)
                                    PA </b>, Commander, Army Signal Regiment, to create the <b> Philippine Army
                                    Cybersecurity Clearance System (PACCS)</b> to consistently improve the security of
                                the Philippine Army Cyberspace by updating the Process, enhancing the Technology, and
                                educating army personnel is one of his first instructions upon assumption as the
                                Commander of Army Signal Regiment. The PA Cyber Security Clearance System aims to verify
                                the successful candidate's knowledge and skills required to operate the organization's
                                cyber assets, maintain a secured network, and leverage the personnel standard in
                                computer and cybersecurity literacy with the intention of actively defending and
                                constantly enhancing the security of the Philippine Army Cyberspace. The Cyber Battalion
                                has been tasked to develop a cybersecurity clearance system that will help ensure all
                                army personnel, both military and civilian, are up to date on the most recent
                                information technology and cybersecurity trends.</p>
                        </div>
                    </div>
                </div>


            </section>
        </div>
    </div>
</div>
</section> }}
{{! end of Banner for RC  }}

<footer id="page-footer">
    <div class="moove-container-fluid footer-columns">
        <div class="row">
            <div class="col-md-4 column-left">
                <div class="contact">
                    <h3 class="footer-title">{{#str}}contactus, theme_moove{{/str}}</h3>

                    <ul>
                        {{#website}}
                            <li>
                                <a href="{{{website}}}" target="_blank" class="website btn btn-link">
                                    <i class="fa fa-globe"></i>
                                </a>
                            </li>
                        {{/website}}
                        {{#mobile}}
                            <li>
                                <a href="tel:{{{mobile}}}" target="_blank" class="mobile btn btn-link">
                                    <i class="fa fa-phone"></i>
                                </a>
                            </li>
                        {{/mobile}}
                        {{#mail}}
                            <li>
                                <a href="mailto:{{{mail}}}" target="_blank" class="mail btn btn-link">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                        {{/mail}}
                    </ul>
                </div>

                <div class="socialnetworks">
                    
                    <ul class="mb-0">
                        {{#facebook}}
                            <li>
                                <a href="{{{facebook}}}" target="_blank" class="facebook btn btn-link btn-rounded">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                        {{/facebook}}

                        {{#twitter}}
                            <li>
                                <a href="{{{twitter}}}" target="_blank" class="twitter btn btn-link btn-rounded">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                        {{/twitter}}

                        {{#linkedin}}
                            <li>
                                <a href="{{{linkedin}}}" target="_blank" class="linkedin btn btn-link btn-rounded">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        {{/linkedin}}

                        {{#youtube}}
                            <li>
                                <a href="{{{youtube}}}" target="_blank" class="youtube btn btn-link btn-rounded">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </li>
                        {{/youtube}}

                        {{#instagram}}
                            <li>
                                <a href="{{{instagram}}}" target="_blank" class="instagram btn btn-link btn-rounded">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                        {{/instagram}}

                        {{#whatsapp}}page-header
                            <li>
                                <a href="https://api.whatsapp.com/send?phone={{{whatsapp}}}" target="_blank" class="whatsapp btn btn-link btn-rounded">
                                    <i class="fa fa-whatsapp"></i>
                                </a>
                            </li>
                        {{/whatsapp}}

                        {{#telegram}}
                            <li>
                                <a href="{{{telegram}}}" target="_blank" class="telegram btn btn-link btn-rounded">
                                    <i class="fa fa-telegram"></i>
                                </a>
                            </li>
                        {{/telegram}}
                    </ul>
                </div>
            </div>
           
            
        </div>
    </div>

    


    <div class="copyright">
        <div class="madeby">
            <p>Developed by Cyber Battalion</p>
        </div>
    </div>
</footer>

{{{ output.standard_end_of_body_html }}}

{{#js}}
    require(['theme_boost/footer-popover'], function(FooterPopover) {
        FooterPopover.init();
    });
{{/js}}
