{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_moove/head

    Moove head template.

    Example context (json):
    {
    }
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    {{{ output.standard_head_html }}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Philippine Army Preliminary Assessment in Cybersecurity System (PAPACS) is developed and designed to consistently improve the security of the Philippine Army Cyberspace by updating the Process, enhancing the Technology, and educating ASR personnel then the whole Army.">
    <meta name="author" content="Cyber Battalion" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
 <!-- 
 Developed by Cyber Battalion, ASR, PA

 MAJ RODRIGO F QUINTO SC (GSC) PA - Project Director
 CPT JULIAR JAN P RORALDO (SC) PA - Project Officer
 SSg Homer F Hospital (SC) PA - Project NCO
 Ms. Aireen A Ramos CivHR -  Project Manager/Front-end Developer
 Pvt Ferdinand P Lazarte (Inf) PA - Back-end Developer 
 Pvt Rene Hervy G Valguna (Inf) PA - Front-end Developer 
 Pvt Diosdado Miguel A Centeno (Inf) PA - Network and System Administrator 
 Pvt Roy Dan A Saludo (Inf) PA - Network and System Administrator 
 Pvt Urian I Nemeno (Inf) PA - Project Documentation

 Org Chart @ "{{config.wwwroot}}\theme\moove\uploads\team\PAPACS_ORG_CHART.png"
  -->

</head>
<style>
#page-login-index .login-container .loginform{
    background-color: #dee2e6c4 !important;
}
.login-container{
    background-color: #dddddde0 !important;
     
}

.moove-container-fluid{
    min-width: fit-content!important;
}
[role="button"]:focus{
  box-shadow: none!important;
}

.pagelayout-login #page div[role="main"] div.box.py-3.generalbox.boxaligncenter{
    background-color: #f0f8ffcc !important;
    padding: 70px;
    border-radius: 10px;
}

.btn-secondary{
 background-color: #8ec2f6;
}

#fitem_id_city,#id_country, #fitem_id_country{
  display:none 
}

#background-video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
 
 
}

#background-video2 {
  width: -webkit-fill-available;
  width: -moz-available;
  width: inherit;
  position: absolute;
  z-index: -1;
}

#team-sec {
  width:95%;
}

#loginbutton {
 
  position: absolute;
 
}


.about .image {
    background: url("{{config.wwwroot}}/theme/moove/uploads/img/ASR LOGO1.png") center center no-repeat!important;
    background-size: cover;
    min-height: 400px;
}



    .masthead {

        padding-top: 150px!important;
    }

    .btn-xl{
        padding: 0.5rem!important;
    }

 

.course-category{
  display:none !important;
}

</style>
